<div class="text-center">
<h1>Restaurants</h1>
<%= link_to "Add Restaurant", new_restaurant_path, :class => "btn btn-primary" %>
<br>
<% @restaurants.each do |restaurant| %>
<h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h1>

<br>
<%= link_to "Delete Restaurant", "restaurants/#{restaurant.id}",
    method: :delete,
    data: { confirm: "Are you sure you want to Delete this Restaurant" },
    :class => "btn btn-danger" %>
  <p>Rating: <%= restaurant.average %></p>
  <br>
<% end %>
</div>


